body {
    background-color: #f1f1f1;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-top: 50px;
}

.usuario{
    margin-top: 1cm;
    text-align: right;
    color: #0077c9;
}

.titulo h1 {
    color: #0077c9;
    font-size: 36px;
    margin-bottom: 10px;
}

.titulo p {
    color: #0077c9;
    font-size: 18px;
    margin-bottom: 50px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #0077c9;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonsCon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonsCon button {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #0077c9;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttons button {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #0077c9;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sign-in {
    background-color: #fff;
    color: #0077c9;
    border: 1px solid #0077c9;
}

#log-in {
    background-color: #fff;
    color: #0077c9;
    border: 1px solid #0077c9;
}

#log-off {
    background-color: #fff;
    color: #0077c9;
    border: 1px solid #0077c9;
}

#googleCon {
    background-color: rgb(190, 32, 32);
    color: #ffffff;
    border: 1px solid #ff0000;
}

.buttons button:hover {
    background-color: #0077c9;
    color: #fff;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.buttonsCon button:hover {
    background-color: #0077c9;
    color: #fff;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}